<!DOCTYPE html>
<html lang="en">

<head>
    <title>Uploading Document</title>
</head>

<body>

    <h1>Upload Document via MULTER</h1>

    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="myimage" /> <br>

        <button type="submit">Submit</button>
    </form>

</body>

</html>