.container {
    display: grid;
    height: 500px;
    width: 500px;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 1fr 2fr 1fr 3fr;
    border: 5px solid black;
    grid-template-areas:
        "item1 item1 item1 item3"
        "item1 item1 item1 item3"
        "item1 item1 item1 item3"
        "item2 item2 item2 item3"
}

.item-1 {
    grid-area: item1;
    background-color: blueviolet;
}

.item-2 {
    grid-area: item2;
    background-color: burlywood;
}

.item-3 {
    grid-area: item3;
    background-color: pink;
}