.container {
    display: grid;
    height: 500px;
    width: 500px;
    grid-template-rows: 50px 50px 50px 50px;
    /* grid-template-rows: repeat(4, 1fr); */
    grid-template-columns: repeat(4, 50px);
    /* grid-template-columns: 1fr 2fr 1fr 10fr; */
    border: 5px solid black;
    /* gap: 20px; */
    justify-content: end;
    align-content: center;
}

.item-1 {
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: blueviolet;
}

.item-2 {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 5;
    background-color: burlywood;
}

.item-3 {
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 4;
    grid-column-end: 5;
    background-color: pink;
}