body{
    border: 10px solid black;
    height: 60vh;
    width: 60vw;
    background-image: url('./image.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.ball{
    /* border: 10px solid black; */
    background-color: red;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    position: relative;
    top: 25vh;
    left: 25vw;
}