body{
    background-image: url('./image.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.ball{
    /* border: 10px solid black; */
    background-color: rgb(2, 30, 141);
    border-radius: 50%;
    height: 80px;
    width: 80px;
    position: relative;
    top: 40vh;
    left: 55vw;
}